<div class="limiter ">
  <div class="container-login100">
    <div class="wrap-login100 p-b-160 p-t-50">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-43">
          Account Login
        </span>

        <div class="wrap-input100 rs1 validate-input" data-validate="Username is required">
          <input class="form-control input100" placeholder="Username" type="text" name="username" ngModel #user>
          <!-- <span class="label-input100 has-val">Username</span> -->
        </div>


        <div class="wrap-input100 rs2 validate-input" data-validate="Password is required">
          <input class="form-control input100" placeholder="Password" type="password" name="pass" ngModel #pass>
          <!-- <span class="label-input100 has-val">Password</span> -->
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="logIn(user.value,pass.value)" type="button">
            Sign in
          </button>
        </div>

        <!-- <div class="text-center w-full p-t-23">
            <a href="#" class="txt1">
            Forgot password?
            </a>
        </div> -->
      </form>
    </div>
  </div>
</div>
